@font-face {
            font-family:"Comic Sans MS"; 
            src: url("./Comic_Sans_MS.ttf"); 
            font-weight:normal;
}

@font-face {
            font-family:"Comic Sans MS"; 
            font-weight:bold; 
            src: url("./Comic_Sans_MS_Bold.ttf");
}

body{ 
     font-family:"Comic Sans MS";
     font-weight:normal;  
     background:#000000;
     color:#FFFFFF;
}

h1{ 
        font-family:"Comic Sans MS"; 
        font-weight:bold; 
        text-align:center; 
        
        
}

.content{
			  float:center;
              height:auto;
              width:600px;
              text-align:center; 
              font-family:"Comic Sans MS"; 
              font-weight:normal; 
              margin-left:385px;
}
a:link {
	color: #0600ff;
	text-decoration: none;
}

a:visited {
	color: #a90329;
	text-decoration: none;
}

a:hover, a:active {
	color: #585858;
	text-decoration: none;
}
.
