@font-face {
            font-family:"Comic Sans MS"; 
            src: url("./Comic_Sans_MS.ttf"); 
            font-weight:normal;
}

@font-face {
            font-family:"Comic Sans MS"; 
            font-weight:bold; 
            src: url("./Comic_Sans_MS_Bold.ttf");
}

body{ 
     font-family:"Comic Sans MS";
     font-weight:normal;  
     background:url("./bg.png");
}

h1{ 
        font-family:"Comic Sans MS"; 
        font-weight:bold; 
        text-align:center; 
        
}

.content{
              float:left;
              height:auto;
              width:450px;
              text-align:left; 
              font-family:"Comic Sans MS"; 
              font-weight:normal; 
}
a:link {
	color: #0600ff;
	text-decoration: none;
}

a:visited {
	color: #a90329;
	text-decoration: none;
}

a:hover, a:active {
	color: #585858;
	text-decoration: none;
}
.image-right {
              float:right;
}
